@using AuthenticationManager = CEAE.Managers.AuthenticationManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @Translations.Branding</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
    <meta name="description" content="@Translations.DonationRequest"/>
</head>
<body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-100007892-1', 'auto');
    ga('send', 'pageview');
</script>
<div class="navbar navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Translations.Branding, "Index", "Home", null, new {@class = "navbar-brand"})

            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-home"></i>
                        @Translations.Home
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("TakeTest", "Home")">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        @Translations.TakeTest
                    </a>
                </li>
            </ul>
            @if (AuthenticationManager.IsUserAdministrator(Session))
            {
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Questions")">
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                            @Translations.Questions
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Answers")">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            @Translations.Answers
                        </a>
                    </li>
                </ul>
            }
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
@RenderBody()
<footer class="navbar-inverse">
    &copy; @DateTime.Now.Year - @Translations.Branding
</footer>
</body>
</html>