@using CEAE.Utils
@using AuthenticationManager = CEAE.Managers.AuthenticationManager
@if (Convert.ToBoolean(Session[Constants.Session.UserIsAuthenticated]))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(string.Format(Translations.HelloUser, AuthenticationManager.UserAccount(Session)), "ManageAccount", "Account", null, new {title = "Manage"})
        </li>

        <li>
            <a href="@Url.Action("LogOut", "Account")">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                @Translations.Logout
            </a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Register", "Account")" id="registerLink">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                @Translations.Register
            </a>
        </li>

        <li>
            <a href="@Url.Action("Login", "Account")" id="loginLink">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                @Translations.Login
            </a>

        </li>
    </ul>
}