@model CEAE.Models.Question
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@* @Html.Raw(Json.Encode(ViewBag.possibleAnswers));*@
<script>
    var possibleAnswers = @Html.Raw(ViewBag.serializedAnswers);
    var QuestionID = @Html.Raw(Model.QuestionID);
    
</script>
<style>

</style>
<script src="~/Scripts/QuestionScripts/question_viewDetails.js"></script>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<div id="answers-container">
    <div id="added-answers">
    </div>
    <button id="new-answer" class="btn btn-link" >Add new Answer</button>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
