@model CEAE.Models.Question
@using Newtonsoft.Json;
@using CEAE.Utils;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@* @Html.Raw(Json.Encode(ViewBag.possibleAnswers));*@
<script>
    var possibleAnswers = @Html.Raw(ViewBag.serializedAnswers);
    var QuestionID = @Html.Raw(Model.QuestionID);
    var answerStatuses = @Html.Raw(Json.Encode(CONST.ANSWER_STATUSES));
</script>
<style>

</style>
<script src="~/Scripts/QuestionScripts/question_viewDetails.js"></script>
<link href="~/Content/Questions/questions_viewDetails_style.css" rel="stylesheet">
<div>
    <h4>Question</h4>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Text)</th>

            </tr>
        </thead>
        <tr>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Text)
        </td>
        </tr>
    </table>
</div>
<form id="answers-container" class="form-inline">
    <div id="added-answers" class="form-group">
    </div>
    <div class="text-danger answers-validation">
        <span class="answers-validation-message">
        </span>
    </div>
    <button id="new-answer" class="btn btn-link" >Add new Answer</button>
</form>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
