@model CEAE.Models.DTO.Question

@{
    ViewBag.Title = Translations.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>@Translations.Edit</h2>

    @using (Html.BeginForm("Edit", "Questions", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Translations.Question</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.QuestionID)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("file", null, new { type = "file", accept = "image/*", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">@Translations.Save</button>
                        @Html.ActionLink(Translations.BackToList, "Index", null, new {@class = "btn btn-default"})
                        @Html.ActionLink(Translations.DeletePicture, "DeletePicture", new { id = Model.QuestionID }, new { @class = "btn btn-danger", onclick="return confirm('Are you sure?');" })
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        
    </div>
</div>