@model IEnumerable<CEAE.Models.DTO.Question>

@{
    ViewBag.Title = Translations.Questions;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>@Translations.Questions</h2>
    <hr>
    <p>
        @Html.ActionLink(Translations.Create, "Create", null, new {@class = "btn btn-success"})
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>@Translations.Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink(Translations.Details, "Details", new { id = item.QuestionID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink(Translations.Edit, "Edit", new { id = item.QuestionID }, new { @class = "btn btn-default" })
                            <a href="@Url.Action("Delete", new {id = item.QuestionID})" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>