@model CEAE.Models.DTO.Answer

@{
    ViewBag.Title = Translations.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>@Translations.Details</h2>
    <h4>@Translations.Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    <div class="btn-group">
        @Html.ActionLink(Translations.Edit, "Edit", new { id = Model.AnswerID }, new { @class = "btn btn-primary" })
        @Html.ActionLink(Translations.BackToList, "Index", null, new { @class = "btn btn-default" })
    </div>
</div>