@using CEAE.Models
@model CEAE.Models.LoginViewModel
@{
    ViewBag.Title = Translations.Login;
}
<div class="container">
    <h1>@Translations.Login</h1>
    <hr />
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                    <span class="help-block">@Translations.AccountNamePossible</span>
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                <div class="col-md-5">
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-primary">@Translations.Login</button>
                        @Html.ActionLink(Translations.Register, "Register", null, new {@class = "btn btn-default"})
                    </div>
                </div>
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}