@using CEAE.Utils
@using AuthenticationManager = CEAE.Managers.AuthenticationManager
@{
    ViewBag.Title = Translations.ManageAccount;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@Translations.ManageAccount</h2>

    <h3 class="section-header">@Translations.Details</h3>
    <hr class="section-hr" />
    
    <dl class="dl-horizontal">
        <dt>@Translations.Account</dt>
        <dd>@(AuthenticationManager.UserAccount(Session) ?? "")</dd>
        <dt>@Translations.Email</dt>
        @if (AuthenticationManager.UserEmail(Session) == null)
        {
            <dd>
                @Translations.EmailUndefined -
                @Html.ActionLink(Translations.Edit, "Edit", "Users", new { id = Session[Constants.Session.UserId]?.ToString() ?? "" }, null)
            </dd>
        }
        else
        {
            <dd>@AuthenticationManager.UserEmail(Session)</dd>
        }
    </dl>

    @if (AuthenticationManager.IsUserAdministrator(Session))
    {
        ViewBag.totalResults = "<span class='label label-info'>" + ViewBag.totalResults.ToString() + "</span>";
        ViewBag.unregisteredUsers = "<span class='label label-success'>" + ViewBag.unregisteredUsers.ToString() + "</span>";

        <h3 class="section-header">@Translations.Statistics</h3>
        <hr class="section-hr" />
        <div class="btn-group">
            <p>
                @Html.ActionLink(Translations.DownloadReport, "GenerateReport", "Home", null, new {@class = "btn btn-primary"})
            </p>
        </div>

        <p>@Html.Raw(string.Format(Translations.TestsTaken, ViewBag.totalResults))</p>
        <p>@Html.Raw(string.Format(Translations.UnregisteredUsers, ViewBag.unregisteredUsers))</p>
    }

    <h3 class="section-header" >@Translations.ShareWidget</h3>
    <hr class="section-hr" />
    <p>
        <a href="@Url.Action("Test", "Home")" class="btn btn-info" target="_blank">@Translations.Demo</a>
    </p>
    <p>
        <textarea class="form-control" onclick="this.select();">&lt;iframe src="@Url.Action("Test", "Home", null, Request.Url?.Scheme)?tc=@AuthenticationManager.UserId(Session)" style="width: 800px; height: 600px;"&gt;&lt;/iframe&gt;</textarea>
    </p>
    <h3 class="section-header" >@Translations.Properties</h3>
    <hr class="section-hr" />
    <div class="btn-group">
        @Html.ActionLink(Translations.Edit, "Edit", "Users", new { id = Session[Constants.Session.UserId]?.ToString() ?? "" }, new { @class = "btn btn-primary" })
        @Html.ActionLink(Translations.ResetPassword, "ResetPassword", "Account", null, new { @class = "btn btn-default" })
    </div>


</div>